<div class="w-full h-screen">
  <div class="flex h-full w-full p-8 overflow-hidden" *ngIf="stylesList">
    <div class="flex flex-col h-full w-full overflow-y-scroll">
      <div class="bg-white py-8">
        <div class="">
          <h2
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
          >
            dcupl components
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Curious to see dcupl in action with large datasets? Dive into our
            collection of examples. Apply queries using the intuitive filters on
            the left, and observe the results in real-time on the table to your
            right. For a deep dive into the mechanics, the source code is
            readily accessible on
            <a
              target="_blank"
              class="text-indigo-500 underline hover:text-indigo-900"
              href="https://github.com/dcupl/dcupl-components"
              >Github</a
            >.
          </p>
        </div>
      </div>
      <div class="py-8 border-t border-gray-200">
        <div class="prose">
          <h3>Simple Text</h3>
          <p>
            Check the devtools console to see the constructed query and the
            result. The following shows a simple text search. When clicking
            "submit" a query is constructed.
          </p>
        </div>
        <div class="py-3 w-80">
          <app-simple-text [list]="stylesList"></app-simple-text>
        </div>
      </div>

      <div class="py-8 border-t border-gray-200">
        <div class="prose">
          <h3>Simple Facets</h3>
          <p>
            The following component calculates and lists facets. When clicking
            an item the query will be applied.
          </p>
        </div>
        <div class="py-3 w-80">
          <app-simple-facets [list]="stylesList"></app-simple-facets>
        </div>
      </div>

      <div class="py-8 border-t border-gray-200">
        <div class="prose">
          <h3>Range Slider</h3>
          <p>
            The following component applies a numerical query to the "year"
            attribute of the table.
          </p>
        </div>
        <div class="py-3 w-80">
          <app-range-slider [list]="stylesList"></app-range-slider>
        </div>
      </div>

      <div class="py-8 border-t border-gray-200">
        <div class="prose">
          <h3>Suggestion Buttons</h3>
          <p>
            The following component gets suggestions for the "style" attribute
            as a single button select
          </p>
        </div>
        <div class="py-3 w-80">
          <app-suggestion-buttons [list]="stylesList"></app-suggestion-buttons>
        </div>
      </div>

      <div class="py-8 border-t border-gray-200">
        <div class="prose">
          <h3>Suggestion Multiselect</h3>
          <p>
            The following component gets suggestions for the "colour" attribute
            as a multiselect
          </p>
        </div>
        <div class="py-3 w-80">
          <app-suggestion-multiselect
            [list]="stylesList"
          ></app-suggestion-multiselect>
        </div>
      </div>
    </div>
    <div class="flex h-full w-full overflow-y-scroll pb-8">
      <app-simple-table [list]="stylesList"></app-simple-table>
    </div>
  </div>
</div>
