<div class="w-full h-screen">
  <div class="flex h-full w-full p-8 overflow-hidden" *ngIf="stylesList">
    <div class="flex flex-col h-full w-full overflow-y-scroll">
      <div class="py-8">
        <div class="prose">
          <h3>Simple Text</h3>
          <p>
            Check the devtools console to see the constructed query and the
            result. The following shows a simple text search. When clicking
            "submit" a query is constructed.
          </p>
        </div>
        <div class="py-3 w-80">
          <app-simple-text [list]="stylesList"></app-simple-text>
        </div>
      </div>

      <div class="py-8">
        <div class="prose">
          <h3>Simple Facets</h3>
          <p>
            The following component calculates and lists facets. When clicking
            an item the query will be applied.
          </p>
        </div>
        <div class="py-3 w-80">
          <app-simple-facets [list]="stylesList"></app-simple-facets>
        </div>
      </div>

      <div class="py-8">
        <div class="prose">
          <h3>Range Slider</h3>
          <p>
            The following component applies a numerical query to the "year"
            attribute of the table.
          </p>
        </div>
        <div class="py-3 w-80">
          <app-range-slider [list]="stylesList"></app-range-slider>
        </div>
      </div>

      <div class="py-8">
        <div class="prose">
          <h3>Suggestion Buttons</h3>
          <p>
            The following component gets suggestions for the "style" attribute
          </p>
        </div>
        <div class="py-3 w-80">
          <app-suggestion-buttons [list]="stylesList"></app-suggestion-buttons>
        </div>
      </div>

      <div class="py-8">
        <div class="prose">
          <h3>Suggestion Multiselect</h3>
          <p>
            The following component gets suggestions for the "style" attribute
          </p>
        </div>
        <div class="py-3 w-80">
          <app-suggestion-multiselect
            [list]="stylesList"
          ></app-suggestion-multiselect>
        </div>
      </div>
    </div>
    <div class="flex h-full w-full overflow-y-scroll pb-8">
      <app-simple-table [list]="stylesList"></app-simple-table>
    </div>
  </div>
</div>
