<div class="lg:px-8" id="results">
  <div class="mt-8 ring-1 ring-gray-100 mx-0 rounded-lg">
    <table class="min-w-full divide-y divide-gray-100 border border-gray-100">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
          >
            Product
          </th>
          <th
            scope="col"
            class="hidden lg:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Type
          </th>
          <th
            scope="col"
            class="hidden lg:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Color
          </th>
          <th
            scope="col"
            class="hidden lg:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Year
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <tr *ngFor="let row of data">
          <td
            class="py-4 pl-4 pr-3 w-full text-sm font-medium text-gray-900 sm:pl-6"
          >
            {{ row.productDisplayName }}
            <dl class="font-normal">
              <dt class="mt-3 sr-only">Key</dt>
              <dd class="mt-1 truncate text-gray-700">({{ row.key }})</dd>
              <dt class="mt-3 lg:hidden">Type</dt>
              <dd class="mt-1 truncate text-gray-500 lg:hidden">
                {{ row.articleType }}
              </dd>
              <dt class="mt-3 lg:hidden">Color</dt>
              <dd class="mt-1 truncate text-gray-500 lg:hidden">
                {{ row.baseColour }}
              </dd>
              <dt class="mt-3 lg:hidden">Year</dt>
              <dd class="mt-1 truncate text-gray-500 lg:hidden">
                {{ row.year }}
              </dd>
            </dl>
          </td>
          <td
            class="hidden lg:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500"
          >
            {{ row.articleType }}
          </td>
          <td
            class="hidden lg:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500"
          >
            {{ row.baseColour }}
          </td>
          <td
            class="hidden lg:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500"
          >
            {{ row.year }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a
  href="#results"
  class="lg:hidden fixed inline-block p-3 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg top-5 right-5"
>
  Results:<span class="ml-2 text-xs" *ngIf="metadata"
    >{{ metadata.currentSize }} / {{ metadata.initialSize }}</span
  >
</a>
